.attribution { font-size: 0.6875rem; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    *, *::before, *::after {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
    body {
      background-color: hsl(218, 28%, 13%);
      color: #fff;
      font-family: "Open Sans", sans-serif;
    }
    /*header starts here */
   .nav-links ul {
    display: flex;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
    
   }
   .nav-links a {
    color: #fff;
    text-decoration: none;
   }
   .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    flex-wrap: wrap;

    
   }
   .logo img {
    width: 100px;
    height: auto;
   }


   /*Intro Starts from here */

   .intro-img img {
    max-width: 100%;
   }
   .intro {
    padding: 30px;
    text-align: center;
    margin-bottom: 40px;
   }
   .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding: 10px 2px;
   }

   .intro h1 {
    line-height: 1.4;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 20px;
   }
   .intro p {
    font-size: 14px;
    color: hsl(0, 0%, 90%);
    max-width: 500px;
    margin-bottom: 20px;
   }
   .btn-primary {
    font-size: 1.1rem;
    background-color: hsl(176, 68%, 64%);
    color: hsl(0, 0%, 100%);
    padding: 16px 80px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3 ease;
   }
   .btn-primary:hover {
    background-color: hsl(198, 60%, 50%);
   }

   /*features starts from here */

   .features {
    text-align: center;
    padding: 40px 18px;
    margin: 40px 18px;
   }
   .feature img{
    margin-bottom: 20px;
    
   }
   .feature h2{
    font-size: 1.2rem;
    margin-bottom: 16px;
   }
   .feature p{
    font-size: 14px;
    max-width: 400px;
    line-height: 1.6;
    margin: 0 auto 60px auto;
    text-align: center;
    font-weight: 400;
   }  

   /*productive section starts from here */

   .productivity img {
    max-width: 100%;
    margin-bottom: 30px;
   }
   .productivity {
    padding: 20px;
    text-align: center;
   }
   .productivity-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 500px;
    margin: 0 auto 80px auto;
   }
   .productivity-content h2 {
    font-size: 1.2rem;
    text-align: left;
    margin-left: 12px;
    margin-bottom: 30px;
   }
   .productivity-content p {
    text-align: left;
    line-height: 1.6;
    font-size: 14px;
    font-weight: 400;
    max-width: 500px;
    padding: 10px;
    margin: 0 0 10px 0;
   }
   .productivity-content .learn-more {
    color: rgb(54, 194, 222);
    display: inline-flex;
    border-bottom: 2px solid rgb(54, 194, 222);
    align-items: center;
    text-decoration: none;
    gap: 6px;
    margin-left: 12px;
    margin-right: auto;
    position: relative;
    padding: 10px 30px 10px 0;
    
   }
   .learn-more img {
    width: 20px;
    position: absolute;
    right: 4px;
    top: 30%;
    
   }