.attribution { font-size: 0.6875rem; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    *, *::before, *::after {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
    body {
      background-color: hsl(218, 28%, 13%);
      color: #fff;
      font-family: "Open Sans", sans-serif;
    }
    /*header starts here */
   .nav-links ul {
    display: flex;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
    
   }
   .nav-links a {
    color: #fff;
    text-decoration: none;
   }
   .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    flex-wrap: wrap;

    
   }
   .logo img {
    width: 100px;
    height: auto;
   }


   /*Intro Starts from here */

   .intro-img img {
    max-width: 100%;
   
   }
   .intro {
    padding: 30px;
    text-align: center;
    margin-bottom: 40px;
     max-width: 500px;
     margin: 0 auto;
   }
   .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding: 10px 2px;
   }

   .intro h1 {
    line-height: 1.4;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 20px;
   }
   .intro p {
    font-size: 14px;
    color: hsl(0, 0%, 90%);
    max-width: 500px;
    margin-bottom: 20px;
   }
   .btn-primary {
    font-size: 1.1rem;
    background-color: hsl(176, 68%, 64%);
    color: hsl(0, 0%, 100%);
    padding: 16px 80px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3 ease;
   }
   .btn-primary:hover {
    background-color: hsl(198, 60%, 50%);
   }

   /*features starts from here */

   .features {
    text-align: center;
    padding: 40px 18px;
    margin: 40px 18px;
   }
   .feature img{
    margin-bottom: 20px;
    
   }
   .feature h2{
    font-size: 1.2rem;
    margin-bottom: 16px;
   }
   .feature p{
    font-size: 14px;
    max-width: 400px;
    line-height: 1.6;
    margin: 0 auto 60px auto;
    text-align: center;
    font-weight: 400;
   }  

   /*productive section starts from here */

   .productivity img {
    max-width: 100%;
    margin-bottom: 30px;
   }
   .productivity {
    padding: 20px;
    text-align: center;
     max-width: 500px;
     margin: 0 auto;
   }
   .productivity-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 500px;
    margin: 0 auto 80px auto;
   }
   .productivity-content h2 {
    font-size: 1.2rem;
    text-align: left;
    margin-left: 12px;
    margin-bottom: 30px;
   }
   .productivity-content p {
    text-align: left;
    line-height: 1.6;
    font-size: 14px;
    font-weight: 400;
    max-width: 500px;
    padding: 10px;
    margin: 0 0 10px 0;
   }
   .productivity-content .learn-more {
    color: rgb(54, 194, 222);
    display: inline-flex;
    border-bottom: 2px solid rgb(54, 194, 222);
    align-items: center;
    text-decoration: none;
    gap: 6px;
    margin-left: 12px;
    margin-right: auto;
    position: relative;
    padding: 10px 30px 10px 0;
    
   }
   .learn-more img {
    width: 20px;
    position: absolute;
    right: 4px;
    top: 30%;
    
   }

   /*team section starts from here */

   .team{
    padding: 20px;
   }
   .team-content {
    max-width: 400px;
    position: relative;
    padding: 30px;
    background-color: hsl(219, 30%, 18%);
    margin: 32px auto;
  
   }
   .team-content .quote-img {
     position: absolute;
     top: -45px;
     left: 4px;
   }
   .team-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 20px;
   
   }
   .testimonial-author .author-img {
    width: 40px;
    border-radius: 50%;
   }
   .testimonial-author {
    display: flex;
    font-size: 14px;
    gap: 12px;
   }
   .testimonial-author .author-info {
    display: flex;
    flex-direction: column;
   }
   .author-info .author-name {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
   }
   .author-info .author-title {
    font-size: 12px;
    opacity: 0.8;
   }

   /* get started starts from here */


   .start-for-free {
    padding: 20px;
   }
   .get-started {
    background-color: hsl(218, 20%, 19%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 500px;
    margin: 10px auto;
    z-index: 9;
    position: relative;
    
   }
   .get-started h2 {
    font-size: 1.4rem;
    margin-top: 30px;
   }
   .get-started p {
    max-width: 500px;
    padding: 0 20px;
    line-height: 1.4;
   }

   .get-started .email {
    height: 60px;
    padding: 0 140px 0 50px;
    border-radius: 30px;
    border-style: none;
    
    
   }
   .btn-start {
    padding: 0 65px;
    height: 60px;
    border-radius: 30px;
    border-style: none;
    background-color: hsl(176, 68%, 64%);
    color: white;
    cursor: pointer;
    font-size: 22px;
    margin-bottom: 40px;
    transition: background-color 0.3 ease;
   }
   input::placeholder {
    opacity: 0.5;
   }
   .btn-start:hover {
        background-color: hsl(198, 60%, 50%);
   }
   .btns {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 30px;
   }

   /*footer section starts from here*/

   .footers {
    background-color: hsl(216, 53%, 9%);
    margin-top: -260px;
    padding-top: 300px;
    z-index: 1;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
   }
   .footers .footer-logo {
    width: 260px;
     margin: 20px auto;
   }
   .footers .footers-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 10px auto;
    max-width: 500px;
   }
   .footers-content .address {
   display: flex;
   gap: 20px;
   align-items: flex-start;
   margin-bottom: 20px;
   line-height: 1.6;
   }
   .address img {
    padding-top: 5px;
    width: 44px;
   }
   .contact-info a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
   }
   .phone-number{
    margin-bottom: 30px;
   }
   .emailaddress{
    margin-bottom: 60px;
   }
   .list{
    display: flex;
    flex-direction: column;
    gap: 20px;
   }
   .list a{
    color: white;
    text-decoration: none;
    font-size: 24px;
   }
   .social-icons a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    text-decoration: none;
   }
   .social-icons i{
    color: white;

   }
   .social-icons{
    margin: 40px auto;
   }
   .footers-logo-wrap {
    max-width: 500px;
    margin: 10px auto;
   }